<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.universe.mapper.MovieCategoryRelationMapper">

    <resultMap id="BaseResultMap" type="com.universe.entity.MovieCategoryRelation">
            <id property="movieId" column="movie_id" />
            <id property="categoryId" column="category_id" />
    </resultMap>

    <sql id="Base_Column_List">
        movie_id,category_id
    </sql>
    <delete id="deleteByMovieIdAndCategoryId">
        DELETE FROM movie_category_relation
        WHERE movie_id = #{movieId} AND category_id = #{categoryId}
    </delete>
</mapper>
